@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('./top-bar.css');
@import url('./fonts.css');
@import url('./section1.css');
@import url('./section2.css');
@import url('./section3.css');

@import url('./launch-counter.css');




body {

  background: linear-gradient(90deg,#1d1d1d,#241E2E);

}


input {
  background-color: transparent;
}

input:hover {
  border: none
}

input:focus {
  outline: none;
}