@tailwind base;
@tailwind components;
@tailwind utilities;




.section2-main-body {

    @apply
    
    w-full 

    ;
}


.section2-container-body {
    @apply
    w-full h-[60vh] flex items-center justify-center
    

    sm:my-24
    md:my-32
    lg:my-32
    xl:my-44

    sm:px-0
    md:px-6
    lg:px-24
    xl:px-32
    ;
}

.section2-container-inner-body {
    @apply
    w-full flex items-center justify-center

    sm:h-fit
    md:h-fit
    lg:h-[80%]
    xl:h-[80%]

    sm:flex-col
    md:flex-col
    lg:flex-row
    xl:flex-row

    ;
}


.section2-container-text {
    @apply
    h-full text-white
    flex items-center
    leading-[33px]

    sm:px-6
    md:px-6
    lg:px-16
    xl:px-16

    


    sm:text-lg
    md:text-lg
    lg:text-xl
    xl:text-2xl

    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2

    ;
}



.section2-container-image {

    @apply
    aspect-video

    sm:px-0
    md:px-0
    lg:px-8
    xl:px-8

    /* sm:h-[20vh]
    md:h-[20vh]
    lg:h-full
    xl:h-full */


    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2


    ;

}